attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
cchardet==2.1.7
ConfigParser==6.0.0
contextlib2==21.6.0
cppyy==3.0.0
cryptography==41.0.5
Cython==3.0.5
defusedxml==0.7.1
dl==0.1.0
docutils==0.20.1
fontTools==4.44.0
html5lib==1.1
HTMLParser==0.0.2
ipython==8.17.2
ipywidgets==8.1.1
Jinja2==3.1.2
jnius==1.1.0
keyring==24.2.0
lockfile==0.12.2
lxml==4.9.3
mock==5.1.0
numpy==1.26.1
pandas==2.1.2
Pillow==10.1.0
protobuf==4.25.0
pymupdf_fonts==1.0.5
pyOpenSSL==23.3.0
pytest==7.4.3
railroad==0.5.0
simplejson==3.19.2
Sphinx==7.2.6
tornado==6.3.3
trove_classifiers==2023.10.18
truststore==0.8.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.22.0
